  @model bookallocationsystem.Models.Allocation.AllocateViewCreate
@{
    ViewData["Title"] = "Allocate Page";
}



          <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Allocate Book</h4>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>

              <div class="container-fluid">
                     <div class="col-lg-12 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="form-horizontal form-material"  method="POST"  asp-action="Create" asp-controller="Allocate">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Book Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" disabled value="@Model.Book.Title"  placeholder="Book Name"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                       <div class="error">
         @Html.ValidationMessageFor(x => x.BookId)
        </div>

                                    </div>

                                       <div class="form-group mb-4">
                                        <label class="col-sm-12">Subject</label>
                                        <div class="col-sm-12 border-bottom p-0">
                                             @Html.DropDownListFor(x => Model.LearnerId, new SelectList(Model.LearnerList, "Id", "FirstName"), htmlAttributes: new { @class = "form-control p-0 border-0", @id = "School" })


                                        </div>

                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Condtion</label>
                                        <div class="col-md-12 border-bottom p-0">
                                                 <select class="form-control p-0 border-0"  asp-for="AllocationCondition">
                                                <option value="Excellent">Excellent</option>
                                                <option value="Good" >Good</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Bad">Bad</option>
                                                <option value="Lost">Lost</option>
                                            </select>
                                               <span>@Html.ValidationMessageFor(x => x.AllocationCondition)</span>
                                    </div>




                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Allocate Book</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>